body{
    background: #b4b4b4;
}
.header-logo{
    background-color: #e3354d;
    color: #ffffff;
}
.wrapper{
    background: #ffffff;
}
.line-color-1{
    background-color: #2b5ad9;
    height:5px;
}